@import url("https://fonts.googleapis.com/css2?family=Macondo&family=PT+Sans:wght@700&display=swap");
/* Table of Content
general content layout

Navigation bar (two seperate containers for logo and buttons)
  - container for logo "koala kalubutt"
  - container for Navigation buttons 

Container that holds both content for both art and hero section
  - Hero container: nested with title and action buttons
Koala container (Canvas for koala art, parts are all nested within container, set role="img" that way can adjust overall position if needed without distorting image)
  - head container - parts are nested within this container, helps maintain position of head parts if any adjustments are made
  - 
  */
:root {
  --background-color: #00BFFF;
  --button-color: #0ee7d5fa;
  --hero-background-color: #32f1a8fa;
}

body {
  border-right-style: inset;
  border: 50px solid #abe6f5b6;
  background-color: #00BFFF;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  place-items: center;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

li, a, button {
  font-weight: 200;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  padding: 7px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin: 0px;
  padding: 30px, 30px;
}

/*Navigation Bar */
.logo-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin: 20px;
}

.logo-container .logo {
  text-decoration: underline;
  color: white;
  font-family: 'Macondo', cursive;
  font-size: 60px;
}

.navcontainer {
  border-bottom: 2px dashed white;
}

.Nav_links {
  display: inline-block;
}

.Nav_links li {
  display: inline-block;
  padding: 2px 20px;
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.Nav_links li a {
  color: white;
  font-size: 20px;
}

.Nav_links li:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.Nav_links a:hover {
  color: #16a3cefa;
}

/*hero-play starts here */
.head-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 180px;
}

.hero-container {
  width: 580px;
  height: 160px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset -20px 3px 25px 5px #b8ac9e;
          box-shadow: inset -20px 3px 25px 5px #b8ac9e;
  background: #FFE4C4;
  border-radius: 30%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.toggle-animation {
  text-decoration: underline;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-left: 7%;
  margin-top: 5%;
  color: #0a0a0a;
  font-size: 3em;
  text-align: flex-start;
  position: relative;
  font-family: 'Macondo', cursive;
}

.buttonbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 80%;
  -ms-flex-line-pack: center;
      align-content: center;
}

button {
  height: 60px;
  width: 80px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin-left: 4%;
  margin-top: 10%;
  border-radius: 35%;
  border: 1px solid #0e0d0d;
  background-color: rgba(253, 186, 141, 0.719);
  -webkit-box-shadow: inset -5px 5px 1px 0.1px #b98361;
          box-shadow: inset -5px 5px 1px 0.1px #b98361;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #f0f7f8fa;
  border: 2px dashed #5a5a5a;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

/* button toggle style */
.earsbtn.clicked, .eyesbtns.clicked, .headbtn.clicked, .mouthbtn.clicked {
  background: rgba(114, 92, 78, 0.719);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/* Koala head section*/
.koala-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: white;
  border-radius: 20%;
  width: 400px;
  height: 400px;
  margin: 0px;
  place-items: center;
  border-style: solid;
  z-index: 1;
}

/*head*/
.headwobble {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: head-wobble;
          animation-name: head-wobble;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes head-wobble {
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes head-wobble {
  30% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.head {
  width: 200px;
  height: 200px;
  border-radius: 150% 150% 50% 50%;
  background-color: grey;
  border: 3px solid black;
  margin-top: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-shadow: inset -8px -5px 15px 2px #3c3c3c;
          box-shadow: inset -8px -5px 15px 2px #3c3c3c;
  z-index: 3;
}

.head::after,
.head::before {
  content: "";
  display: block;
  width: 110px;
  height: 105px;
  border-radius: 40% 40% 50% 50%;
  background: grey;
  position: absolute;
  margin: 50px;
  z-index: 4;
}

.head::after {
  left: 62px;
  top: 55px;
  border-right: 3px solid black;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset -3px -10px 5px 2px #3c3c3c;
          box-shadow: inset -3px -10px 5px 2px #3c3c3c;
  -webkit-clip-path: circle(50% at 62% 40%);
          clip-path: circle(50% at 62% 40%);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.head::before {
  right: 60px;
  top: 55px;
  border-left: 4px solid black;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset 7px -12px 10px -3px #3c3c3c;
          box-shadow: inset 7px -12px 10px -3px #3c3c3c;
  -webkit-clip-path: circle(55.1% at 40% 34%);
          clip-path: circle(55.1% at 40% 34%);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.head
.mouth {
  width: 90px;
  height: 70px;
  margin-top: 120px;
  margin-left: 55px;
  background: grey;
  border-radius: 50% 50% 30% 30%;
  position: absolute;
  z-index: 5;
}

.mouth::after,
.mouth::before {
  content: "";
  display: block;
  width: 10px;
  height: 40px;
  margin-left: 15px;
  margin-top: 15px;
  position: absolute;
  margin: 50%;
  z-index: 6;
}

/*nose starts here*/
.nose {
  width: 50px;
  height: 70px;
  margin-left: 75px;
  margin-top: 98px;
  border: 1px solid black;
  border-radius: 130% 130% 60% 60%;
  background-color: black;
  position: absolute;
  -webkit-box-shadow: inset -5px -8px 8px 2px #282828;
          box-shadow: inset -5px -8px 8px 2px #282828;
  z-index: 9;
}

.left-eye, .right-eye {
  width: 30px;
  height: 45px;
  border-radius: 50%;
  background: black;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 1px -5px 13px 1px #3c3c3c;
          box-shadow: inset 1px -5px 13px 1px #3c3c3c;
  z-index: 10;
}

.left-eye {
  margin-left: 55px;
  margin-top: 70px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 11;
}

.right-eye {
  margin-left: 115px;
  margin-top: 70px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.left-eye::before, .right-eye::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-left: 21px;
  margin-top: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 12;
}

/* winking animation */
.Lblink, .Rblink {
  -webkit-animation-name: blinks;
          animation-name: blinks;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blinks {
  0% {
    -webkit-transform: scale(none);
            transform: scale(none);
  }
  50% {
    -webkit-transform: scale(1, 0.01);
            transform: scale(1, 0.01);
  }
  100% {
    -webkit-transform: scale(none);
            transform: scale(none);
  }
}

@keyframes blinks {
  0% {
    -webkit-transform: scale(none);
            transform: scale(none);
  }
  50% {
    -webkit-transform: scale(1, 0.01);
            transform: scale(1, 0.01);
  }
  100% {
    -webkit-transform: scale(none);
            transform: scale(none);
  }
}

/*ears*/
.R-ear-sync {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: Right-sync;
          animation-name: Right-sync;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes Right-sync {
  30% {
    -webkit-transform: rotate(61deg) translateY(3px) translateX(19px);
            transform: rotate(61deg) translateY(3px) translateX(19px);
  }
  80% {
    -webkit-transform: rotate(41deg) translateX(-18px) translateY(4px);
            transform: rotate(41deg) translateX(-18px) translateY(4px);
  }
  100% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

@keyframes Right-sync {
  30% {
    -webkit-transform: rotate(61deg) translateY(3px) translateX(19px);
            transform: rotate(61deg) translateY(3px) translateX(19px);
  }
  80% {
    -webkit-transform: rotate(41deg) translateX(-18px) translateY(4px);
            transform: rotate(41deg) translateX(-18px) translateY(4px);
  }
  100% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

.L-ear-sync {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: Left-sync;
          animation-name: Left-sync;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes Left-sync {
  30% {
    -webkit-transform: rotate(-39deg) translateY(4px) translateX(13px);
            transform: rotate(-39deg) translateY(4px) translateX(13px);
  }
  80% {
    -webkit-transform: rotate(-59deg) translateX(-13px) translateY(5px);
            transform: rotate(-59deg) translateX(-13px) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(-49deg);
            transform: rotate(-49deg);
  }
}

@keyframes Left-sync {
  30% {
    -webkit-transform: rotate(-39deg) translateY(4px) translateX(13px);
            transform: rotate(-39deg) translateY(4px) translateX(13px);
  }
  80% {
    -webkit-transform: rotate(-59deg) translateX(-13px) translateY(5px);
            transform: rotate(-59deg) translateX(-13px) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(-49deg);
            transform: rotate(-49deg);
  }
}

.L-ear-animation {
  -webkit-animation-name: L-earmovement;
          animation-name: L-earmovement;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes L-earmovement {
  30% {
    -webkit-transform: rotate(-59deg) scale(1.07) translateX(-13px) translateY(3px);
            transform: rotate(-59deg) scale(1.07) translateX(-13px) translateY(3px);
  }
  60% {
    -webkit-transform: rotate(-39deg) scale(0.93) translateX(5px) translateY(15px);
            transform: rotate(-39deg) scale(0.93) translateX(5px) translateY(15px);
  }
  100% {
    -webkit-transform: rotate(-49degs);
            transform: rotate(-49degs);
  }
}

@keyframes L-earmovement {
  30% {
    -webkit-transform: rotate(-59deg) scale(1.07) translateX(-13px) translateY(3px);
            transform: rotate(-59deg) scale(1.07) translateX(-13px) translateY(3px);
  }
  60% {
    -webkit-transform: rotate(-39deg) scale(0.93) translateX(5px) translateY(15px);
            transform: rotate(-39deg) scale(0.93) translateX(5px) translateY(15px);
  }
  100% {
    -webkit-transform: rotate(-49degs);
            transform: rotate(-49degs);
  }
}

.R-ear-animation {
  -webkit-animation-name: R-earmovement;
          animation-name: R-earmovement;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes R-earmovement {
  30% {
    -webkit-transform: rotate(61deg) scale(1.07) translateX(25px) translateY(4px);
            transform: rotate(61deg) scale(1.07) translateX(25px) translateY(4px);
  }
  60% {
    -webkit-transform: rotate(41deg) scale(0.93) translateX(-5px) translateY(20px);
            transform: rotate(41deg) scale(0.93) translateX(-5px) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(51degs);
            transform: rotate(51degs);
  }
}

@keyframes R-earmovement {
  30% {
    -webkit-transform: rotate(61deg) scale(1.07) translateX(25px) translateY(4px);
            transform: rotate(61deg) scale(1.07) translateX(25px) translateY(4px);
  }
  60% {
    -webkit-transform: rotate(41deg) scale(0.93) translateX(-5px) translateY(20px);
            transform: rotate(41deg) scale(0.93) translateX(-5px) translateY(20px);
  }
  100% {
    -webkit-transform: rotate(51degs);
            transform: rotate(51degs);
  }
}

.L-ear-head-simu {
  -webkit-animation-name: L-earheadsync;
          animation-name: L-earheadsync;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes L-earheadsync {
  30% {
    -webkit-transform: rotate(-39deg) scale(1.07) translateY(8px) translateX(18px);
            transform: rotate(-39deg) scale(1.07) translateY(8px) translateX(18px);
  }
  80% {
    -webkit-transform: rotate(-59deg) scale(0.93) translateX(-16px) translateY(11px);
            transform: rotate(-59deg) scale(0.93) translateX(-16px) translateY(11px);
  }
  100% {
    -webkit-transform: rotate(-49deg);
            transform: rotate(-49deg);
  }
}

@keyframes L-earheadsync {
  30% {
    -webkit-transform: rotate(-39deg) scale(1.07) translateY(8px) translateX(18px);
            transform: rotate(-39deg) scale(1.07) translateY(8px) translateX(18px);
  }
  80% {
    -webkit-transform: rotate(-59deg) scale(0.93) translateX(-16px) translateY(11px);
            transform: rotate(-59deg) scale(0.93) translateX(-16px) translateY(11px);
  }
  100% {
    -webkit-transform: rotate(-49deg);
            transform: rotate(-49deg);
  }
}

.R-ear-head-simu {
  -webkit-animation-name: R-earheadsync;
          animation-name: R-earheadsync;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes R-earheadsync {
  30% {
    -webkit-transform: rotate(66deg) scale(1.07) translateY(10px) translateX(25px);
            transform: rotate(66deg) scale(1.07) translateY(10px) translateX(25px);
  }
  80% {
    -webkit-transform: rotate(35deg) scale(0.93) translateX(-28px) translateY(10px);
            transform: rotate(35deg) scale(0.93) translateX(-28px) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

@keyframes R-earheadsync {
  30% {
    -webkit-transform: rotate(66deg) scale(1.07) translateY(10px) translateX(25px);
            transform: rotate(66deg) scale(1.07) translateY(10px) translateX(25px);
  }
  80% {
    -webkit-transform: rotate(35deg) scale(0.93) translateX(-28px) translateY(10px);
            transform: rotate(35deg) scale(0.93) translateX(-28px) translateY(10px);
  }
  100% {
    -webkit-transform: rotate(51deg);
            transform: rotate(51deg);
  }
}

.left-ear, .right-ear {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background: grey;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.left-ear {
  margin-left: -225px;
  margin-top: -46px;
  border-radius: 40% 60% 40% 20%;
  -webkit-transform: rotate(-49deg);
          transform: rotate(-49deg);
  -webkit-box-shadow: inset 10px -5px 5px 5px #5a5a5a;
          box-shadow: inset 10px -5px 5px 5px #5a5a5a;
  -webkit-clip-path: polygon(0% 100%, 0% 1%, 99% 0%, 100% 100%, 95% 95%, 86% 91%, 76% 87%, 63% 83%, 53% 81%, 40% 83%, 28% 85%, 22% 88%, 11% 95%, 10% 110%);
          clip-path: polygon(0% 100%, 0% 1%, 99% 0%, 100% 100%, 95% 95%, 86% 91%, 76% 87%, 63% 83%, 53% 81%, 40% 83%, 28% 85%, 22% 88%, 11% 95%, 10% 110%);
  z-index: -2;
}

.left-ear::after {
  content: "";
  width: 110px;
  height: 110px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 50% 150% 80% 80%;
  -webkit-box-shadow: inset -5px 13px 5px 3px #DEB887;
          box-shadow: inset -5px 13px 5px 3px #DEB887;
  background: #FFE4C4;
  position: absolute;
  z-index: 3;
}

.left-ear::before {
  content: "";
  width: 50px;
  height: 80px;
  margin-left: 55px;
  margin-top: 60px;
  background: grey;
  border-radius: 50% 0% 60% 20%;
  -webkit-box-shadow: inset 10px 1px 6px 1px #5a5a5a;
          box-shadow: inset 10px 1px 6px 1px #5a5a5a;
  position: absolute;
  -webkit-clip-path: polygon(0% 99%, 100% 100%, 83% 75%, 67% 88%, 66% 72%, 64% 62%, 55% 58%, 54% 65%, 52% 75%, 48% 82%, 39% 85%, 35% 76%, 33% 67%, 33% 63%, 26% 72%, 24% 80%, 20% 85%, 13% 84%, 12% 80%, 9% 78%, 6% 83%, 5% 92%, 1% 98%);
          clip-path: polygon(0% 99%, 100% 100%, 83% 75%, 67% 88%, 66% 72%, 64% 62%, 55% 58%, 54% 65%, 52% 75%, 48% 82%, 39% 85%, 35% 76%, 33% 67%, 33% 63%, 26% 72%, 24% 80%, 20% 85%, 13% 84%, 12% 80%, 9% 78%, 6% 83%, 5% 92%, 1% 98%);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 4;
}

.right-ear {
  margin-left: 230px;
  margin-top: -32px;
  border-radius: 70% 30% 20% 0%;
  -webkit-transform: rotate(51deg);
          transform: rotate(51deg);
  -webkit-box-shadow: inset -10px -10px 5px 10px #5a5a5a;
          box-shadow: inset -10px -10px 5px 10px #5a5a5a;
  -webkit-clip-path: polygon(0% 100%, 0% 1%, 99% 0%, 100% 100%, 90% 93%, 70% 81.7%, 62% 80%, 60% 79%, 50% 79%, 50% 79%, 50% 78%, 50% 78%, 50% 78%, 40% 80%);
          clip-path: polygon(0% 100%, 0% 1%, 99% 0%, 100% 100%, 90% 93%, 70% 81.7%, 62% 80%, 60% 79%, 50% 79%, 50% 79%, 50% 78%, 50% 78%, 50% 78%, 40% 80%);
  z-index: -2;
}

.right-ear::after {
  content: "";
  width: 110px;
  height: 110px;
  margin-left: 20px;
  margin-top: 15px;
  background: #FFE4C4;
  border-radius: 100% 50% 20% 10%;
  position: absolute;
  -webkit-box-shadow: inset -5px 13px 5px 3px #DEB887;
          box-shadow: inset -5px 13px 5px 3px #DEB887;
  z-index: 3;
}

.right-ear::before {
  content: "";
  width: 50px;
  height: 80px;
  margin-left: 35px;
  margin-top: 56px;
  background: grey;
  border-radius: 19% 0% 100% 5%;
  -webkit-box-shadow: inset 10px -1px 6px 1px #5a5a5a;
          box-shadow: inset 10px -1px 6px 1px #5a5a5a;
  position: absolute;
  -webkit-clip-path: polygon(0% 99%, 100% 100%, 83% 75%, 67% 88%, 66% 72%, 64% 62%, 55% 58%, 54% 65%, 52% 75%, 48% 82%, 39% 85%, 35% 76%, 33% 67%, 33% 63%, 26% 72%, 24% 80%, 20% 85%, 13% 84%, 12% 80%, 9% 78%, 6% 83%, 5% 92%, 1% 98%);
          clip-path: polygon(0% 99%, 100% 100%, 83% 75%, 67% 88%, 66% 72%, 64% 62%, 55% 58%, 54% 65%, 52% 75%, 48% 82%, 39% 85%, 35% 76%, 33% 67%, 33% 63%, 26% 72%, 24% 80%, 20% 85%, 13% 84%, 12% 80%, 9% 78%, 6% 83%, 5% 92%, 1% 98%);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 4;
}

/*animation starts here*/
/*# sourceMappingURL=main.css.map */